tr {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}

.Head {
  background-color: black;
  color: white;
}
.Text {
  display: flex;
  gap: 0px;
}

.container {
  display: grid;
  justify-content: center;
}

table {
  border: 1px solid;
  margin-top: 50px;
}
